11-1 Working with transactions a bit

In [1]:
-- 1) 

USE AdventureWorks2019
GO
DROP TABLE if EXISTS dbo.demo;
CREATE TABLE dbo.demo(ID INT PRIMARY KEY, Name VARCHAR(25));

BEGIN TRAN

INSERT into dbo.demo(id,Name)
VALUES(1,'Ronald')
INSERT into dbo.demo(id,Name)
VALUES(2,'Natalia')

COMMIT TRAN
GO

select * from dbo.demo ;

ID,Name
1,Ronald
2,Natalia

In [3]:
-- 2) seeing which rows make it to table out of valid and faulty insert statement
USE AdventureWorks2019
GO

BEGIN TRAN

INSERT into dbo.demo(id,Name)
VALUES(3,'Davis')
INSERT into dbo.demo(id,Name)
VALUES('a','Davis')

COMMIT TRAN
GO

select * from dbo.demo ;

: Msg 245, Level 16, State 1, Line 9
Conversion failed when converting the varchar value 'a' to data type int.

ID,Name
1,Ronald
2,Natalia

In [ ]:
-- 3) check

In [4]:
-- 4) describe the error

USE AdventureWorks2019
GO

BEGIN TRAN
    SELECT * INTO dbo.demo2 FROM dbo.demo ; 
        ROLLBACK TRAN ;
        SELECT * FROM dbo.demo2 ;

: Msg 208, Level 16, State 1, Line 9
Invalid object name 'dbo.demo2'.

11-2 trapping and handling errors

In [6]:
-- 1) attmepting to add a duplicate row in hr.department ...maybe too many semicolons
USE AdventureWorks2019
GO


BEGIN TRY
    insert into HumanResources.Department(departmentid,name,groupname,ModifiedDate)
    VALUES (1,N'avena','comida',default);
END TRY
BEGIN CATCH
    PRINT error_number();
    PRINT ERROR_MESSAGE();
    PRINT error_severity();
END CATCH ;

In [2]:
-- 2) custom message this time
USE AdventureWorks2019
GO


BEGIN TRY
    insert into HumanResources.Department(departmentid,name,groupname,ModifiedDate)
    VALUES (1,N'avena','comida',default);
END TRY
BEGIN CATCH
    THROW 999999 , 'No se puede agregar una id que ya exista en la tabla', 1
    -- RAISERROR('No se puede agregar una id que ya exista en la tabla',11, 1)
END CATCH ;

: Msg 999999, Level 16, State 1, Line 11
No se puede agregar una id que ya exista en la tabla

In [ ]:
-- 3) defining the problem with this code block ... not best practice with respect to error handling. The information containted in the error can help the user
BEGIN
    BEGIN TRY
         SELECT 1.234 + 'A';
    END TRY
    BEGIN CATCH
    END CATCH
END;

In [ ]:
-- 4) connection will be killed with this code but error will be logged
RAISERROR('message', 20, 2) WITH LOG;

In [8]:
-- 5) another example of throw statement

THROW 59999,'An error has been thrown',1 ;

: Msg 59999, Level 16, State 1, Line 3
An error has been thrown